.header {
    display: flex;
    justify-content: center;
}

.body-content {
    display: flex;
}

.content {
    display: flex;
    background-color: #cc9933;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 30%;
    margin-left: 15%;
}   

.tag {
    display: inline-flex;
    flex-direction: column;
    justify-content: unsafe;
}

.tag-img {
    margin: 3em 0 3em 0;
}

.prg {
    margin-right: 5em;
}

.new-word-coffee {
    position: absolute;
    bottom: -55px;
    right: 52%;

}

