BODY {
	FONT-FAMILY: verdana,sans-serif; BACKGROUND-COLOR: white
}
INPUT {
	FONT-SIZE: 9pt; WIDTH: auto; HEIGHT: auto
}
SELECT {
	FONT-SIZE: 9pt; WIDTH: auto; HEIGHT: auto
}
A.TopLinks {
	COLOR: white
}
.header {
    background-color: #679bcd;
    width: 100vw;
    padding: 0;
    margin: 0;
}
.title-header {
    background-color: #0177c1;
    width: 100wv;
    padding: 0;
    margin: 0;
}

.bar-name {
    display: flex;
    background-color: black;
}

.bar-item {
    text-indent: n;
    color: white;
    margin-right: 36px;
    left: 0;
    list-style-type: none;
    text-decoration: underline;
}
 
ul li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 60%;
    background-color: #fff;
    vertical-align: middle;
    margin-right: 10px;
}

.bar-end {
    margin-top: 45vh    ;
}

.bar-end-item {
    color: blue;
}

.dontcopy {
    font-size: smaller;
    font-family: cursive;
}
